/* html,
body {
  height: 100%;
  margin: 0;
} */

/* .map-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
} */

.map-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.menu {
  background-color: rgb(8, 18, 23) !important;
  margin-bottom: 0 !important;
}

.menu > a {
  color: #fff !important;
}

.button-add {
  margin-bottom: 20px !important;
}

.modal-title {
  color: #fff;
  margin: 0;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

video {
  display: block;
  margin-right: 10px;
  padding: 0 !important;
}
