.signup-basic-wrapper {
  margin: auto;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
}

.picked-languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.main-language {
  border-radius: 5px;
}

.signup-basic-form {
  margin-top: 40px;
}

/* .ui.label.light-green {
  background-color: lightgreen !important;
}
.ui.label.sandy-brown {
  background-color: lightgreen !important;
}
.ui.label.light-coral {
  background-color: lightgreen !important;
} */

/* .ui.label {
  background-color: white;
} */

/* .dropdown {
  background-color: white;
} */

.ui .fluid .dropdown {
}
