/* .videos-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); */
/* 位置真ん中 */
/* display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  height: 500px;
} */

/* .partner-video-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 600px;
  width: 70%; /*or whatever % you prefer*/

/* margin: 0 auto; */
/* grid-column: 2/3;
  height: 100%; */
/* } */

/* .partner-video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  height: 600px;
} */

.partner-subtitle {
  /* grid-row: 2/3; */
}

.voice-text {
  /* max-width: 800px; */
  color: red;
  word-wrap: break-word;
}

/* .myvideo-container { */
/* grid-column: 1/2;
  height: 100%; */
/* display: grid; */
/* width: 60px;
  height: 60px;
  border-radius: 10px; */
/* } */

/* .myvideo { */
/* height: 80%; */
/* width: 60px;
  height: 60px;
  border-radius: 10px;
} */

.fullscreen1on1-modal-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  /* display: grid; */
  background-color: rgb(22, 33, 49);
  /* grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: 540px 1fr;
  row-gap: 5px;
  grid-template-areas:
    '. videos-wrapper .'
    '. vertical-tabs-wrapper .'; */
  display: flex;
  align-items: center;
  /* z-index: 5; */
}

/*  and (orientation: landscape)  これが全ての原因だった。。。無事ok。*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .videos-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .partner-video {
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
  }

  .myvideo-wrapper {
    width: 10%;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .myvideo {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
  }

  .button-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    /* bottom: 10px; */
    /* border-radius: 10px; */
    /* transform: translate(-50%, -50%); */
    /* width: 50%; */
    /* margin: 0 auto; */
  }

  .buttons-wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .switch-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 1px;
  }
}
/* これがversion 1のui */
/* .videos-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.partner-video {
  border-radius: 10px;
  width: 100%;
  object-fit: contain;
} */

@media only screen and (min-width: 768px) {
  .videos-wrapper {
    height: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .partner-video {
    border-radius: 10px;
    height: 100%;
    display: block;
    margin: auto;
  }

  .myvideo-wrapper {
    width: 10%;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .myvideo {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
  }

  .button-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    /* bottom: 10px; */
    /* border-radius: 10px; */
    /* transform: translate(-50%, -50%); */
    /* width: 50%; */
    /* margin: 0 auto; */
  }

  /* .buttons-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
  } */

  .buttons-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .switch-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 10%;
  }
}

.hidden {
  display: none;
}
