@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* .language-status {
    position: absolute;
    color: white;
    background-color: rgb(29, 49, 79);
    height: 40vh;
    width: 20vw;
    border-radius: 5px;
    top: 80px;
    right: 50px;
    cursor: grab;
    z-index: 10;
  } */

  .language-status-wrapper {
    width: 100%;
    height: 35%;
    position: relative;
    border-radius: 5px;
    /* border: 1px solid white; */
    background-color: rgb(37, 95, 184);
    margin-bottom: 5px;
  }

  .language-status {
    display: flex;
    height: 60%;
    border-radius: 5px;
  }

  .language-status > div {
    width: 50%;
    height: 100%;
    /* background-color: white; */
    color: white;
    text-align: center;
  }

  .switch-language-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .language-status-wrapper {
    width: 100%;
    height: 35%;
    position: relative;
    border-radius: 5px;
    background-color: rgb(37, 95, 184);
    margin-bottom: 10px;
  }

  .language-status {
    display: flex;
    height: 60%;
    border-radius: 5px;
  }

  .language-status > div {
    width: 50%;
    height: 100%;
    /* background-color: white; */
    color: white;
    text-align: center;
    border-bottom: 1px solid rgb(22, 33, 49);
  }

  .learning-lang-wrapper {
    border-right: 1px solid rgb(22, 33, 49);
  }

  .switch-language-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 5px;
  }
}
