.conversation-wrapper {
  border-radius: 10px;
  width: 300px;
}

.video-thumbnail {
  display: flex;
  border-radius: 10px;
}

.conversation-information {
  height: 150px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.video-displaying-modal {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
  /* height: 80vh;
  max-height: 80vh; */
  /* background-color: white; */
}

.video-displaying-modal-body {
  height: 70vh;
  max-height: 70vh;
  background-color: white;
  display: grid;
  grid-template-columns: 900px 1fr;
  grid-template-areas: 'videos-wrapper resource-tab';
}

/* video { // このnamingが、1on1 modalの方にも影響を与えていた。。。
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.videos-wrapper {
  grid-area: videos-wrapper;
  display: flex;
} */

.displaying-video-1 {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

.displaying-video-2 {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

.resource-tab {
  grid-area: resource-tab;
}
