.conversation-wrapper {
  border-radius: 10px;
  width: 300px;
}

.video-thumbnail {
  display: flex;
  border-radius: 10px;
}

.conversation-information {
  height: 150px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.video-displaying-modal {
  width: 80vw; /* Occupy the 90% of the screen width */
  max-width: 80vw;
  /* height: 80vh;
  max-height: 80vh; */
  /* background-color: white; */
}

.video-displaying-modal-body {
  height: 80vh;
  max-height: 80vh;
  background-color: white;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-areas: 'videos-wrapper menu';
}

video {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
