.user-info-card {
  /* min-width: 250px; */
  min-width: 300px;
  /* display: grid;
  grid-template-columns: 300px 300px;
  grid-template-areas: 'user-info-left user-info-right';
  height: 300px; */
}

/*
.user-info-left {
  grid-area: user-info-left;
}

.user-info-right {
  grid-area: user-info-right;
} */

/* .languages-chart {
  width: 300px;
  height: 300px;
} */

/* .user-overview {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 'user-image user-name-and-job';
  column-gap: 10px;
  margin-bottom: 10px;
}

.user-image {
  grid-area: user-image;
  grid-column: 0/1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: blue;
}

.user-name-and-job {
  grid-area: user-name-and-job;
}

.user-language-overview {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'languages-list languages-chart';
  margin-bottom: 10px;
}

.languages-list {
  grid-area: languages-list;
}

.languages-chart {
  grid-area: languages-chart;

}

.user-message {
  margin-bottom: 10px;
} */

/* .icon-dropdown {
  background-color: blue;
} */
